.navbar {
    background-color: rgb(56, 56, 56);
    color: white;
    padding: 0!important;
    display: flex;
    font-family: 'Katibeh', cursive;
}

.container .navbar h1 {
    font-size: 45px;
}

.navbar .container .collapse img {
    height: auto;
    width: 30px;
    margin-left: 2vw;
    margin-top: 2vh;
}

.navbar .container .collapse .ig img {
    height: auto;
    width: 25px;
}

.sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    font-family: 'Katibeh', cursive;
    font-size: 20px;
}

.sidebar svg, a{
    color: rgb(56, 56, 56);
}

main h2, b {
    color: rgb(56, 56, 56);
    font-family: 'Nova Slim', cursive;
}

main h2 {
    margin-top: 57px;
}

main p, ol {
    font-family: 'Nova Slim', cursive;
    font-size: 17px;
}

main .pendahuluan img {
    height: auto;
    width: 45vw;
    display: block;
    margin: auto;
}

main .struktur img {
    height: auto;
    width: 33vw;
    display: block;
    margin: auto;
}

main .mekanisme img {
    height: auto;
    width: 45vw;
    display: block;
    margin: auto;
}


@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-80px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@media screen and (max-width: 1024px) {
    .navbar {
        padding: 0!important;
        display: flex;
    }
    .navbar .container h1{
        font-size: 37px;
    }
    .navbar .container .collapse img{
        height: auto;
        width: 25px;
        margin-left: 2vw;
    }
    .navbar .container .collapse .ig img{
        height: auto;
        width: 20px;
        margin-left: 2vw;
    }
    main h1 {
        font-size: 28px;
        margin-top: 40px;
    }
    main p, b, ol {
    font-size: 15px;
    }
    main .pendahuluan img {
	height:200px;
	width: auto;
    }
}
